{% extends "layout.html" %}
{% block title %}  Add Car {% endblock %}

{% from "includes/_formhelpers.html" import render_field %}

{% block content %}
<h3 class="title has-text-grey" style="text-align: center; margin-top: 30px;">Add Car</h3>

<form method="POST" action="" enctype="multipart/form-data">

    <div class="form-group">
            {{render_field(form.brand, class_="input", style="max-width:30%;margin-left:35%;text-align:center;",placeholder="e.g Audi, Volkswagen..")}}
    </div>
    
    <div class="field">
        <div class="control">
            {{render_field(form.model, class_="input", style="max-width:30%;margin-left:35%;text-align:center;",placeholder="e.g A5, Tiguan..")}}
    </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.year, class_="input",style="max-width:30%;margin-left:35%;text-align:center;" ,placeholder="e.g 2006, 2021..")}}
    </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label" style="text-align: center;">Sell - Rent</label>
                <div class="buttons" >
                    <select name="sell_rent" id="" class="button is-normal" style="max-width:30%;margin-left:47.75%;text-align:center">
                        <option value="0">Sell</option>
                        <option value="1">Rent</option>
                    </select>
                </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.title, class_="input", style="max-width:30%;margin-left:35%;text-align:center",placeholder="Create your title for customers..")}}
    </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.province, class_="input", style="max-width:30%;margin-left:35%;text-align:center",placeholder="e.g Istanbul, Ankara..")}}
    </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.price, class_="input", style="max-width:30%;margin-left:35%;text-align:center",placeholder="e.g 50000, 128000..")}} <b>TL</b> 
    </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.fuel_type, class_="input", style="max-width:30%;margin-left:35%;text-align:center",placeholder="e.g Diesel, Unleaded..")}}
    </div>
    </div>

    <div class="field">
        <div class="control">
            {{render_field(form.km, class_="input", style="max-width:30%;margin-left:35%;text-align:center",placeholder="e.g 1500, 56000..")}} <b>KM</b>
    </div>
    </div>


          <div class="field" style="margin-left:30%;margin-right:30%;">
            <div class="control">
                <label class="label" style="text-align:center;">
                    <label for="text">Please Promote Your Vehicle</label>
                </label>
                <textarea name ="text_write" placeholder="Please Enter Some Text About Your Car"></textarea>
            </div>
          </div>

          <div class="field" style="margin-left:30%;margin-right:30%;">
            <div class="control">
                <label class="label" style="text-align:center;">
                    <label for="text">Upload Your Car Image</label>
                </label>
                <input class="button is-primary" type="file" name="pic" style="margin-left:22.5%"/></input>
            </div>
          </div>

    <p><input type="submit" class="button is-block is-info is-large is-fullwidth" value="Add Your Car !" style="max-width: 15%;margin-left:42.5%;margin-bottom: 5%;margin-top:2.5%"></input></p>

{% endblock %}
