{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <h1 style="text-align: center;font-size: 30px;margin-top:7.5%">Seller Login</h1>
    <form action="" method="POST">
        <div class="field">
          <div class="control" style="max-width:30%;margin-left:35%;margin-top:5%;text-align:center;">
            <label><b>E-mail</b></label>
            <input type="text" name="email" class="input" value={{request.form.email}}>
          </div>
        </div>
        <div class="field">
          <div class="control" style="max-width:30%;margin-left:35%;margin-top:2.5%;text-align:center;">
            <label><b>Password</b></label>
            <input type="password" name="password" class="input" value={{request.form.password}}>
          </div>
        </div>

        <button type="submit" class="button is-block is-info is-large is-fullwidth" style="width: 20%; margin-left: 40%;margin-top: 2.5%;margin-bottom: 5%;">Login</button>
    </form>

{% endblock %}